<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Generuj operat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <style>
        .header {
            padding: 60px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>Generuj operat</h1>
    </div>
    <br><br>
    <form method="post" th:action="@{/api/word}" th:object="${geodeticWork}">
        <div class="mb-3 mt-3">
            <label for="idBG">Id roboty geodezyjnej:</label>
            <input type="text" class="form-control" id="idBG" placeholder="Podaj id roboty geodezyjnej" name="myIdBG"
                th:field="*{idGeoWork}" >
                <label for="dzialkaEwid">Id dz.ew.:</label>
                <input type="text" class="form-control" id="dzialkaEwid" value="146518_8.0110.12" 
                th:name="myDzialkaEwid">

                <select th:name="companyName">
                    <option th:each="company : ${companies}" th:value="${company.name}" 
                    th:text="${company.name}" th:field="*{company}"></option>
                </select>

                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="calendar">
                        <span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="text" class="form-control" required id="datepicker" placeholder="Wybierz datę rozpoczęcia roboty."
                        th:name="date" style="width: 150px;" aria-describedby="calendar" th:field="*{startDate}"/>
                </div>



            <input type="submit" value="Submit" />
        </div>
    </form>




</body>

<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: '0',
        });
    });
</script>

</html>